{% trans_default_domain 'FOSUserBundle' %}

<div class="col-md-3"></div>
<div class="col-md-6">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">{{ 'change_password.submit'|trans }}</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        <div class="box-body">
            {% if form_errors(form.current_password) %}
                <div class="form-group has-feedback has-error">
                    {{ form_label(form.current_password) }}
                    {{ form_widget(form.current_password, {'attr':{'class':'form-control'}}) }}
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    <label class="control-label" for="inputError">{{ form_errors(form.current_password) }}</label>
                </div>
            {% else %}
                <div class="form-group has-feedback">
                    {{ form_label(form.current_password) }}
                    {{ form_widget(form.current_password, {'attr':{'class':'form-control'}}) }}
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>

                </div>
            {% endif %}

            {% if form_errors(form.plainPassword.first) %}
                <div class="form-group has-feedback has-error">
                    {{ form_label(form.plainPassword.first) }}
                    {{ form_widget(form.plainPassword.first, {'attr':{'class':'form-control'}}) }}
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    <label class="control-label" for="inputError">{{ form_errors(form.plainPassword.first) }}</label>
                </div>
            {% else %}
                <div class="form-group has-feedback">
                    {{ form_label(form.plainPassword.first) }}
                    {{ form_widget(form.plainPassword.first, {'attr':{'class':'form-control'}}) }}
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>

                </div>
            {% endif %}

            {% if form_errors(form.plainPassword.second) %}
                <div class="form-group has-feedback has-error">
                    {{ form_label(form.plainPassword.second) }}
                    {{ form_widget(form.plainPassword.second, {'attr':{'class':'form-control'}}) }}
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    <label class="control-label" for="inputError">{{ form_errors(form.plainPassword.second) }}</label>
                </div>
            {% else %}
                <div class="form-group has-feedback">
                    {{ form_label(form.plainPassword.second) }}
                    {{ form_widget(form.plainPassword.second, {'attr':{'class':'form-control'}}) }}
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>

                </div>
            {% endif %}   

        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <div class="row">

                <!-- /.col -->
                <div class="col-xs-3"></div> 
                <div class="col-xs-6">
                    <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-primary btn-block btn-flat" />
                </div>
                <div class="col-xs-3"></div> 
                <!-- /.col -->
            </div>  
        </div>
        <!-- /.box-footer -->
        {{ form_end(form) }}
    </div>
</div>
